{% extends 'base.html'   %}

{% block content %}
    <h1>{{ post.category }}</h1>
    <ul>
    {% for post in category_posts %}
        <li><a href="{% url 'post-detail' post.pk %}">
            {{ post.title }}</a>
            - {{ post.author.first_name}}
            {{ post.author.last_name }} -
            {{ post.post_date }}
            {% if user.is_superuser %}
                - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            {% endif %}
            <div class = "post_body">
                {{ post.body }}
            </div>
         </li>
    {% endfor %}
    </ul>
{% endblock %}
