.navbar {
  position: relative;
  min-height: 100px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.post_body {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:500px;
}
