<!-- myDjangoBlog/blog/templates/blog/article_list.html -->

{% extends "base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
 <h1>My Blog</h1>
 {% for article in articles %}
   <h2>
     <a href="{{ article.get_absolute_url }}">
       {{ article.title }}
     </a>
   </h2>
   <p class="date">
     Published {{ article.publish }} by {{ article.author }}
   </p>
   {{ article.body|truncatewords:30|linebreaks }}
 {% endfor %}
 {% include "pagination.html" with page=articles %}
{% endblock %}